---
layout: mylayout.njk
title: Getting in touch
---

<h1>{{ title }}</h1>

<p>There are a few different ways to find me on the Internet</p>

<div class="button-group">
    <a href="https://www.linkedin.com/in/stevan-goode-2488853/" class="button">
        <img src="/img/linkedin-in-brands.svg" width=88 height=100 alt="LinkedIn Logo">
        Linked In
    </a>
    <a href="https://github.com/sociablesteve" class="button">
        <img src="/img/github-brands.svg" width=97 height=100 alt="GitHub Logo">
        GitHub
    </a>
    <a href="https://twitter.com/sociablesteve1" class="button">
        <img src="/img/twitter-brands.svg" width=100 height=100 alt="Twitter Logo">
        Twitter
    </a>
    <a href="https://discordapp.com/users/SociableSteve#6214" class="button">
        <img src="/img/discord-brands.svg" width=125 height=100 alt="Discord Logo">
        Discord
    </a>
</div>
